* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: rgb(249 249 255);
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin-top: 15rem;
}
h1 p {
  margin-top: 2rem;
  letter-spacing: 5px;
}
span {
  font-weight: 100;
}
